Stock.Clients.ProductsShop/Service References/ProductService/MEX2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9876/Stock/ProductService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="phone" nillable="true" type="q1:PhoneDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectronicBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="electronicBook" nillable="true" type="q2:ElectronicBookDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddElectronicBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSmartWatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="smartWatch" nillable="true" type="q3:SmartWatchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSmartWatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="products" nillable="true" type="q4:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="file" nillable="true" type="q5:FileDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportProductsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q6:ArrayOfProductDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesForManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idManufacturer" type="xs:int" />
        <xs:element minOccurs="0" name="orderDirection" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhonesForManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="GetPhonesForManufacturerResult" nillable="true" type="q7:ArrayOfPhoneDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartWatchesForManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idManufacturer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSmartWatchesForManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="GetSmartWatchesForManufacturerResult" nillable="true" type="q8:ArrayOfSmartWatchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectronicBooksForManufacturer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idManufacturer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetElectronicBooksForManufacturerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" minOccurs="0" name="GetElectronicBooksForManufacturerResult" nillable="true" type="q9:ArrayOfElectronicBookDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>