Stock.Clients.ProductsShop/Service References/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9876/Stock/ProductService/MEX?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9876/Stock/ProductService/MEX?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9876/Stock/ProductService/MEX?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhone" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddElectronicBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddElectronicBook" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddElectronicBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddElectronicBookResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddSmartWatch_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSmartWatch" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddSmartWatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSmartWatchResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_AddProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_ImportProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_ImportProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPhonesForManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonesForManufacturer" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetPhonesForManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhonesForManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSmartWatchesForManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSmartWatchesForManufacturer" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetSmartWatchesForManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSmartWatchesForManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetElectronicBooksForManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicBooksForManufacturer" />
  </wsdl:message>
  <wsdl:message name="IProductService_GetElectronicBooksForManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetElectronicBooksForManufacturerResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetData" message="tns:IProductService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetDataResponse" message="tns:IProductService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddPhone" message="tns:IProductService_AddPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddPhoneResponse" message="tns:IProductService_AddPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddElectronicBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddElectronicBook" message="tns:IProductService_AddElectronicBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddElectronicBookResponse" message="tns:IProductService_AddElectronicBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSmartWatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddSmartWatch" message="tns:IProductService_AddSmartWatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddSmartWatchResponse" message="tns:IProductService_AddSmartWatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/AddProducts" message="tns:IProductService_AddProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/AddProductsResponse" message="tns:IProductService_AddProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/ImportProducts" message="tns:IProductService_ImportProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/ImportProductsResponse" message="tns:IProductService_ImportProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetAllProducts" message="tns:IProductService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetAllProductsResponse" message="tns:IProductService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhonesForManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetPhonesForManufacturer" message="tns:IProductService_GetPhonesForManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetPhonesForManufacturerResponse" message="tns:IProductService_GetPhonesForManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSmartWatchesForManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetSmartWatchesForManufacturer" message="tns:IProductService_GetSmartWatchesForManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetSmartWatchesForManufacturerResponse" message="tns:IProductService_GetSmartWatchesForManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetElectronicBooksForManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductService/GetElectronicBooksForManufacturer" message="tns:IProductService_GetElectronicBooksForManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductService/GetElectronicBooksForManufacturerResponse" message="tns:IProductService_GetElectronicBooksForManufacturer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductService" type="tns:IProductService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhone">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddElectronicBook">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddElectronicBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSmartWatch">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddSmartWatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/AddProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/ImportProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhonesForManufacturer">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetPhonesForManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSmartWatchesForManufacturer">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetSmartWatchesForManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElectronicBooksForManufacturer">
      <soap:operation soapAction="http://tempuri.org/IProductService/GetElectronicBooksForManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="BasicHttpBinding_IProductService" binding="tns:BasicHttpBinding_IProductService">
      <soap:address location="http://localhost:9876/Stock/ProductService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>