Stock.Clients.ProductsShop/Service References/ScreenTypeService/MEX2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Stock.BL.DtoEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfScreenTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreenTypeDto" nillable="true" type="tns:ScreenTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreenTypeDto" nillable="true" type="tns:ArrayOfScreenTypeDto" />
  <xs:complexType name="ScreenTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenTypeDto" nillable="true" type="tns:ScreenTypeDto" />
</xs:schema>